<!DOCTYPE html>

<!-- 前端好难写QAQ -->

<html lang="zh-CN">

<head>
    <title>首页 · Ticket System</title>
    <link rel="icon" href="../static/arona.ico">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Modem514 EternalFir">
    <meta name="description" content="a simple web front end for course assignment">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./static/index.css"> -->

    <style>
        /* Make the carousel slide images fully responsive */
        .carousel-inner img {
            display: block;
            /* margin: auto; */
            height: 100%;
            width: 100%;
        }
    </style>

</head>

<body class="bg-light">
    <header class="header">    
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary">
            <div class="container">
                <!-- brand -->
                <div class="navbar-brand mr-auto">
                    <img src="../static/avatars/arona.svg" width="48rem" class="mr-3 rounded">
                    <a class="navbar-brand" href="#">火车票管理系统</a>
                </div>
                <!-- toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- collapse content -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#announce">公告</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#log">日志</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">指南</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">关于</a>
                        </li>
                    </ul>
                    <form class="form-inline mt-2 mt-md-0 mr-3">
                        <input class="form-control mr-sm-2" type="text" placeholder="搜索你想要的功能" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                    <span class="navbar-nav">
                        <a class="nav-link" href="./login.html">登录</a>
                    </span>
                    <img src="../static/avatars/default.svg" class="rounded d-lg" height="50rem">
                </div>
            </div>
        </nav>
    </header>

    <main class="mt-2">
        <!-- banner -->
        <div id="banner" class="carousel slide" data-ride="carousel">
 
            <ul class="carousel-indicators">
                <li data-target="#banner" data-slide-to="0" class="active"></li>
                <li data-target="#banner" data-slide-to="1"></li>
                <li data-target="#banner" data-slide-to="2"></li>
            </ul>
               
            <!-- banner content -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
                <div class="carousel-caption">
                    <h3>BannerPic1</h3>
                    <p>here is the first banner picture</p>
                </div>
                </div>
                <div class="carousel-item">
                <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
                <div class="carousel-caption">
                    <h3>BannerPic2</h3>
                    <p>here is the second banner pciture</p>
                </div>
                </div>
                <div class="carousel-item">
                <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
                <div class="carousel-caption">
                    <h3>BannerPic3</h3>
                    <p>here is the third banner picture</p>
                </div>
                </div>
            </div>
               
            <!-- switch buttun -->
            <a class="carousel-control-prev" href="#banner" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#banner" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>

        <div class="container my-5">
            <h3 class="">🎫 欢迎来到火车票管理系统！</h3>
            <div class="card shadow">
                <div class="card-body">
                    <p>在本系统您可以：</p>
                    <ul>
                        <li><span class="text-info">[管理员]</span>添加与删除列车</li>
                        <li><span class="text-info">[管理员]</span>发布已添加列车</li>
                        <li><span class="text-info">[管理员]</span>查询列车信息</li>
                        <li><span class="text-info">[管理员]</span>添加用户与查询、修改用户信息</li>
                        <li><span class="text-info">[管理员]</span>系统回滚</li>
                        <li><span class="text-info">[用户]</span>查询车票信息</li>
                        <li><span class="text-info">[用户]</span>购买与退订车票</li>
                        <li><span class="text-info">[用户]</span>查询历史购票记录</li>
                    </ul>
                    详情请见<a href="#">《使用指南📘》</a>
                </div>
                <div class="card-footer">
                    即刻<a href="./login.html">登录✅</a>体验无限(大嘘)可能
                </div>
            </div>

            <h3 class=" mt-5">🚂 列车动态</h3>
            <!-- updates -->
            <div id="update" class="card shadow">
                <div class="card-body">
                        列车发布
                        <small class="text-muted">G114514已发布</small>
                        <small class="float-right">2022-5-10,17:00</small>
                    </div> 
                    <div class="card-body">
                        列车发布
                        <small class="text-muted">G12345已发布</small>
                        <small class="float-right">2022-5-10,16:00</small>
                    </div> 
                    <div class="card-body">
                        列车发布
                        <small class="text-muted">G123123已发布</small>
                        <small class="float-right">2022-5-10,15:00</small>
                    </div>   
                <div class="card-footer">
                    <small><a href="#">更多</a></small>
                </div>
            </div>

            <h3 class=" mt-5">🔈 站务公告</h3>
            <!-- announce -->
            <div id="announce" class="card shadow">
                <div class="card-body">
                        新功能发布
                        <small class="text-muted">系统回滚功能现已上线</small>
                        <small class="float-right">2022-5-10,17:00</small>
                    </div> 
                    <div class="card-body">
                        大变申
                        <small class="text-muted">系统崩溃系临时工误操作，现已开除</small>
                        <small class="float-right">2022-5-10,16:00</small>
                    </div> 
                    <div class="card-body">
                        维护公告
                        <small class="text-muted">预计进行为时30分钟的系统维护</small>
                        <small class="float-right">2022-5-10,15:00</small>
                    </div>   
                <div class="card-footer">
                    <small><a href="#">更多</a></small>
                </div>
            </div>

            <h3 class="mt-5">📝 运营日志</h3>
            <!-- log -->
            <div id="log" class="card shadow">
                <div class="card-body">
                        新功能
                        <small class="text-muted">增添系统回滚功能</small>
                        <small class="float-right">2022-5-10,17:00</small>
                    </div> 
                    <div class="card-body">
                        界面优化
                        <small class="text-muted">优化界面布局，美化风格</small>
                        <small class="float-right">2022-5-10,16:00</small>
                    </div> 
                    <div class="card-body">
                        bug修复
                        <small class="text-muted">已解决发现bug的测试工程师</small>
                        <small class="float-right">2022-5-10,15:00</small>
                    </div>   
                <div class="card-footer">
                    <small><a href="#">更多</a></small>
                </div>
            </div>

        </div>

    </main>
    
    <footer class="footer bg-dark py-3">
        <div class="text-center text-light">
            Ticket Manangement System &copy; 2022
        </div>
    </footer>

</body>

<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- <script src="./static/index.js"></script> -->


</html>